doctype html
html
  head
    title= title
    link(href='/spinkit/spinkit.css', rel='stylesheet')
    link(href='/please-wait/please-wait.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript' src='/jquery/jquery.min.js')
    script(type="text/javascript" src="please-wait/please-wait.min.js")
    block content
