body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sk-wave .sk-rect {
  background-color: #FFF;
  height: 100%;
  width: 6px;
  margin: 2px;
}
